.card{
    height: auto;
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0px 0px 20px 0px rgb(208, 208, 208);
}

.country-add-btn{
    padding: 10px 30px;
    font-size: 20px;
}